{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
        {% include "partials/_messages.html" %}
        <div class="row">
            <div class="col-md-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Edit Expense</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-2">
                <a href="{% url 'expense-delete' expense.id %}" class="btn btn-sm btn-danger">Delete</a>
            </div>
        </div>
        

          <div class="card">
              <div class="card-body">
                    <form method="post" action="{% url 'edit-expense' expense.id %}">
                        {% csrf_token %}
                        <div class="form-group mt-3">
                            <label>Amount</label>
                            <input type="number" class="form-control form-control-sm" id="amount" value="{{values.amount}}" name="amount" />
                        </div>
                        <div class="form-group mt-3">
                            <label>Description</label>
                            <input type="text" class="form-control form-control-sm" value="{{values.description}}" name="description" />
                        </div>
                        <div class="form-group mt-3">
                            <label>Category</label>
                            <select id="category" name="category" class="form-select">
                                <option value="">Select Category</option>
                                {% for category in categories %}

                                <option value="{{category.name}}" {% if expense.category == category.name %}selected{% endif %}>{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <label>Date</label>
                            <input type="date" class="form-control form-control-sm" value="{{values.date |date:'Y-m-d' }}" name="date" />
                        </div>
                        <div class="form-group mt-3">
                            <button class="btn btn-primary addseBtn" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>

{% endblock %}